{<<"app">>,<<"mysql">>}.
{<<"build_tools">>,[<<"make">>,<<"rebar3">>,<<"mix">>]}.
{<<"description">>,<<"MySQL/OTP - Erlang MySQL client driver">>}.
{<<"elixir">>,<<"~> 1.0">>}.
{<<"files">>,
 [<<"mix.exs">>,<<"README.md">>,<<"CHANGELOG.md">>,<<"doc">>,
  <<"doc/erlang.png">>,<<"doc/mysql.html">>,<<"doc/edoc-info">>,
  <<"doc/index.html">>,<<"doc/overview-summary.html">>,
  <<"doc/overview.edoc">>,<<"doc/modules-frame.html">>,
  <<"doc/stylesheet.css">>,<<"erlang.mk">>,<<"include">>,
  <<"include/records.hrl">>,<<"include/protocol.hrl">>,
  <<"include/exception.hrl">>,<<"include/server_status.hrl">>,<<"Makefile">>,
  <<"priv">>,<<"priv/bin">>,<<"priv/bin/changelog.sh">>,
  <<"priv/bin/mk_mix_file.escript">>,<<"priv/edoc-style.css">>,<<"src">>,
  <<"src/mysql.erl">>,<<"src/mysql_protocol.erl">>,<<"src/mysql_conn.erl">>,
  <<"src/mysql_encode.erl">>,<<"src/mysql.app.src">>,
  <<"src/mysql_cache.erl">>,<<"test">>,<<"test/error_logger_acc.erl">>,
  <<"test/mysql_encode_tests.erl">>,<<"test/mysql_protocol_tests.erl">>,
  <<"test/mock_tcp.erl">>,<<"test/mock_tcp.beam">>,
  <<"test/mysql_encode_tests.beam">>,<<"test/mysql_change_user_tests.erl">>,
  <<"test/ssl_tests.beam">>,<<"test/ssl">>,<<"test/ssl/ca.key">>,
  <<"test/ssl/ca.pem">>,<<"test/ssl/server-cert.pem">>,
  <<"test/ssl/server.csr">>,<<"test/ssl/my-ssl.cnf.template">>,
  <<"test/ssl/my-ssl.cnf">>,<<"test/ssl/ca.srl">>,
  <<"test/ssl/server-key.pem">>,<<"test/ssl/Makefile">>,
  <<"test/transaction_tests.erl">>,<<"test/mysql_change_user_tests.beam">>,
  <<"test/mysql_tests.beam">>,<<"test/error_logger_acc.beam">>,
  <<"test/transaction_tests.beam">>,<<"test/mysql_protocol_tests.beam">>,
  <<"test/mysql_tests.erl">>,<<"test/ssl_tests.erl">>]}.
{<<"licenses">>,[<<"LGPL-3.0-or-later">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/mysql-otp/mysql-otp">>}]}.
{<<"name">>,<<"mysql">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"1.8.0">>}.
