[
    {c_db, [
        {db_src, [game]},
        %%映射数据库库名,打开后各个源下数据库可以由运维自己命名
%%        {dbName, [{local, ckc_local}, {game, ckc_game}]},
        {mysqlBatchNum, {100, 10000}}, %%mysql批量replace个数,通信size小于mysql最大通信量
        {mysql, {0, [
            {write, #{
                con => [
                    {host, "127.0.0.1"},
                    {port, 3306},
                    {user, "root"},
                    {password, "ckc123456"},
                    {query_timeout, 5000}
%%                    ,{log_warnings, false}
                ],
                pool_size => 8} %%与系统线程接近，性能最优
            },
            {read, #{
                con => [
                    {host, "127.0.0.1"},
                    {port, 3306},
                    {user, "root"},
                    {password, "ckc123456"},
                    {query_timeout, 5000}
                ],
                pool_size => 8} %%与系统线程接近，性能最优
            }
        ]}},
        {channel, #{
            channel_max_num => 10000
        }}
    ]}
].