[
    {c_log, [
        {handler, [
            %%        Level	Integer	Description
            %%        emergency	0	system is unusable
            %%        alert	1	action must be taken immediately
            %%        critical	2	critical conditions
            {other, c_log_handle, #{
                config => #{max_heap_size => 16#140000, save_file_time => 604800, file_loop_time => 43200},
                formatter => {logger_formatter, #{legacy_header => true, single_line => false}},
                level => critical, filter_default => log
            }},
            %%         error	3	error conditions
            {error, c_log_handle, #{
                config => #{max_heap_size => 16#140000, save_file_time => 604800, file_loop_time => 43200},
                formatter => {logger_formatter, #{legacy_header => true, single_line => false}},
                level => error, filter_default => stop, filter_compare => eq
            }},
            %%        warning	4	warning conditions
            {warning, c_log_handle, #{
                config => #{max_heap_size => 16#140000, save_file_time => 604800, file_loop_time => 43200},
                formatter => {logger_formatter, #{legacy_header => true, single_line => false}},
                level => warning, filter_default => stop, filter_compare => eq
            }},
            %%        notice	5	normal but significant conditions
            {notice, c_log_handle, #{
                config => #{max_heap_size => 16#140000, save_file_time => 604800, file_loop_time => 43200},
                formatter => {logger_formatter, #{legacy_header => true, single_line => false}},
                level => notice, filter_default => stop, filter_compare => eq
            }},
            %%        info	6	informational messages
            {info, c_log_handle, #{
                config => #{max_heap_size => 16#140000, save_file_time => 604800, file_loop_time => 43200},
                formatter => {logger_formatter, #{legacy_header => true, single_line => false}},
                level => info, filter_default => stop, filter_compare => eq
            }},
            %%         debug	7	debug-level messages
            {debug, c_log_handle, #{
                config => #{max_heap_size => 16#140000, save_file_time => 604800, file_loop_time => 43200},
                formatter => {logger_formatter, #{legacy_header => true, single_line => false}},
                level => debug, filter_default => stop, filter_compare => eq
            }}
        ]}
    ]}
].