{erl_opts, [{i, "./apps/c_db/out/include"}]}.
{deps, []}.

{src_dirs, ["src", "out/src"]}.

%% 自制plugins 修改源码时必需要删除ebin 方可编译成功
%% 非开发环境注释掉,生成的db相关文件由开发人员上传,无需再次生成
{plugins, [
    {rebar3_db2file, {path, "plugins"}}
]}.

{provider_hooks, [{pre,
    [
        {compile, {db2file, compile}},
        {clean, {db2file, clean}}
    ]}]
}.